<div class="grid">
    <div class="col-12">
        <form autocomplete="off" (ngSubmit)="cadastrar()">
            <div class="card">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="descricao">Descrição</label>
                        <input pInputText id="descricao" type="text" />
                    </div>                    

                    <div class="field col-12">
                        <button pButton pRipple label="Gravar"></button>
                    </div>
                    
                </div>
            </div>
            
        </form>
    </div>
</div>